
body {
  background-color: rgb(255, 255, 255);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.User_details {
  margin-top: 100px;
  padding: 10px;
  border: 7px solid rgb(95, 6, 131);
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  width: 80%;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 5px 5px 5px 5px rgb(187, 166, 189);
  position: relative;
}
.User_details h3 {
  text-align: center;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  padding: 10px;
}
.User_details ul {
  font-size: 20px;
  padding: 8px;
  font-weight: 400;
}
.User_details ul li {
  margin: 20px;
  padding: 10px;
}

.User-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.User-btn button {
  color: rgb(239, 236, 243);
  background-color: rgb(95, 6, 131);
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.Myorder {
  margin-top: 50px;
  border: 7px solid #5f0683;
  list-style-type: none;
  width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(187, 166, 189);
}
.Myorder h3 {
  text-align: center;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

.Myorder .order > ul {
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
  border-bottom: 3px ridge rgb(78, 13, 64);
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(228, 219, 226);
}
.Myorder .order ul li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.Myorder .order ul li:nth-of-type(2) span {
  padding-top: 10px;
}
.order-details {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.order-details ul {
  margin-top: 50px;
  font-size: 20px;
  margin-left: 30px;
}
.Myorder .order-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.Myorder .order-btn button {
  display: block;
  width:100px;
  padding: 8px;
  margin: 10px 50px 0 0;
  font-size: 18px;
  background-color: #a451c5;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
.order .order-details img {
  margin: 20px;
  padding: 6px;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(192, 127, 196);
}
@media (max-width: 800px) {
  
}