/* #27212d
#a527ff */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    height: 100vh;
    background-color: lavender;
    color: purple;
}
.otp
{
    display: flex;
    margin-bottom: 50px;
}
.otp input
{
    width: 60px;
    font-size: 24px;
    margin: 2px;
    padding: 10px;
    background:none;
    outline: none;
    border: 2px solid #27212d;
    border-radius: 5px;
    text-align: center;
    color: purple;
    transition: all .3s ease;
}
.otp input:focus
{
    border: 2px solid #a527ff;
    box-shadow: 0 0 4px 4px #a527ff61;
}
.spacing
{
    margin-right: 1rem !important;
}
button
{
    padding: 15px 55px;
    background-color: #a527ff;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}
button:active
{
    transform: scale(.9);
}
